[submodule "inet-tutorials"]
	path = tutorials
	url = https://github.com/inet-framework/inet-tutorials.git
[submodule "inet-showcases"]
	path = showcases
	url = https://github.com/inet-framework/inet-showcases.git
