[submodule "inet-tutorials"]
	path = inet-tutorials
	url = https://github.com/inet-framework/inet-tutorials.git
[submodule "inet-showcases"]
	path = inet-showcases
	url = https://github.com/inet-framework/inet-showcases.git
